body,ul,li,div,section,p{margin:0;padding:0;list-style: none}
body{margin:0 50px;}
header{height:80px;width:100%}
/*头部*/
.navigation{width:984px;margin:0 auto;height: 100%;position:relative}
.logo-zone{margin:0 auto;width:440px;height:100%;text-align: center;}
.logo{height: 80px;line-height: 80px}
.logo li{float:left;width:146px;height:100%}
.user-widget{position:absolute;right:0px;bottom:18px;}
.user-widget li{float:left;margin-left:15px;   }
/*头部*/

.banner{height:175px;background-color:#959595;}
/*主体*/
.topic{height:480px;background:#707070;}
/*主体*/