body,ul,li,div,section,p{margin:0;padding:0;list-style: none}
body{background:#eee;font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;}
header{height:80px;width:100%;background:#fff;}
/*头部*/
.navigation{width:984px;margin:0 auto;height: 100%;position:relative}
.logo-zone{margin:0 auto;width:440px;height:100%;text-align: center;}
.logo{height: 80px;line-height: 80px}
.logo li{float:left;width:146px;height:100%}
.user-widget{position:absolute;right:0px;bottom:18px;}
.user-widget li{float:left;margin-left:15px;   }
/*头部*/

.banner{width:1820px;height:175px;background-color:#959595;}
/*主体*/
.topic-warp{background-color:#707070}
.topic{height:480px;background:#707070;width:984px;margin:0 auto;}
.topic-left{float:left;width:624px;height:100%;}
.topic-right{float:right;width:350px;height: 100%;background:#fff}
.scroll{height:390px;width:100%;background-color:#fff}
.link{background:#fff;height:70px;margin-top:20px;}

.main{height:1058px;background-color:#eee}
.main-one{width:984px;height:436px;margin:0 auto;padding-top:16px;}
.main-one-left{width:705px;height:100%;float:left;background-color:#fff}
.main-one-right{width:265px;height:100%;float:right;background-color:#fff}

.main-two{height:584px;width:984px;margin:0 auto;padding-top:16px;}
.main-tow-left{width:477px;height:100%;background-color:#fff;float:left}
.main-tow-right{width:477px;height:100%;background-color:#fff;float:right}
/*主体*/

/*底部*/
footer{background:#eee}
footer ul{margin:0 auto;}
footer li{float:left;margin-left:12px;}
.footer-wrap{background:#fff;width:984px;height:160px;margin:0 auto;margin-top:52px;padding-top:52px;}
.copyRight ul{padding-left:109px;height:24px;line-height:24px;color:#959595}
.bottom-logo ul{margin-top:35px;padding-left:360px;}
/*底部*/