body,ul,li,div,section,p{margin:0;padding:0;list-style: none}
body{padding:0 50px;padding-bottom:44px;background:#fff;font-family: 'Microsoft YaHei','PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB',  Arial, sans-serif;color:#707070;font-size:16px;}
header{height:80px;width:100%;background:#fff;}

/*公共*/
.triangle{width:0;height:0;position:absolute;border:8.5px solid transparent;border-top:17px solid #535353;}

.topic-file{width:73px;height:73px;background:#ababab;position:relative}
.topic-file>.rotate{width:70px;height:70px;background:#fff;position:absolute;transform: rotate(50deg);top:-60px;left:-30px;}
.topic-number{font-size: 32px;position:absolute;top:-10px;left:8px;font-weight: bold}

/*公共*/

/*头部*/
.navigation{width:984px;margin:0 auto;height: 100%;position:relative;color:#707070;}
.logo-zone{margin:0 auto;width:440px;height:100%;text-align: center;font-size:19px;}
.logo{height: 80px;line-height: 80px;text-align: center;}
.logo li{display:inline-block;height:100%;margin-right:40px;}
.logo li:nth-of-type(3){position:relative}
.logo li:nth-of-type(2) img{position:relative;top:10px;}
.logo .triangle{top:32px;right:-25px;}
.user-widget{position:absolute;right:0px;bottom:6px;font-size:16px;}
.user-widget li{float:left;margin-left:20px;   }
/*头部*/

.banner{height:175px;background-color:#959595;}
/*主体*/
.topic-warp{background-color:#707070;}
.topic{height:480px;background:#707070;width:984px;margin:0 auto;}
.topic-left{float:left;width:620px;height:100%;}
.topic-right{float:right;width:350px;height: 470px;background:#fff}
.topic-head{height:36px;margin-bottom:6px;line-height:36px;}
.topic-head span:nth-of-type(1){margin-left:12px;color:#535353;font-size:19px;}
.topic-head span:nth-of-type(2){float:right;margin-right:12px;font-size:16px;color:#ababab}
.topic-discus{margin-bottom:13px;overflow: hidden}
.topic-file{margin-left:12px;float:left;margin-right:13px;}
.topic-des{font-size:15px;color:#535353}
.topic-des p:nth-of-type(1){width:323px;}
.topic-des p:nth-of-type(2){margin-top:7px;font-size:12px;color:#959595;}

.scroll{height:390px;width:100%;background-color:#fff}
.scroll-des{text-align: center;font-size:16px;color:#535353;height:55px;line-height:55px;font-weight:bold}
.link{background:#fff;height:70px;margin-top:10px;text-align: center;color:#acacac;}
.link li{display: inline-block;border:1px solid #d8d8d8;padding:0 5px;margin-top:23px;margin-right:27px;border-radius:2px;}

.main{height:1058px;background-color:#eee}
.main-one{width:984px;height:436px;margin:0 auto;padding-top:16px;}
.main-one-left{width:705px;height:100%;float:left;background-color:#fff}
.main-one-right{width:265px;height:100%;float:right;background-color:#fff}

.main-two{height:584px;width:984px;margin:0 auto;padding-top:16px;}
.main-tow-left{width:477px;height:100%;background-color:#fff;float:left}
.main-tow-right{width:477px;height:100%;background-color:#fff;float:right}
/*主体*/

/*底部*/
footer{background:#eee;position:relative;height:165px;}
footer ul{margin:0 auto;}
footer li{float:left;margin-left:12px;}
.footer-wrap{background:#fff;width:984px;height:160px;margin:0 auto;padding-top:52px;position:absolute;top:52px;left:50%;margin-left:-492px;}
.copyRight ul{padding-left:109px;height:24px;line-height:24px;color:#959595}
.bottom-logo ul{margin-top:35px;padding-left:360px;}
/*底部*/

@media screen and (max-width: 1100px) {
    .footer-wrap{margin-left:0;left:0px;}
}